<form action="/students" method="post">
  <label for="first-name">First Name:</label>
  <input type="text" id="first-name" name="first_name">

  <label for="last-name">last_name Name:</label>
  <input type="text" id="last-name" name="last_name">

  <label for="house">House</label>
  <select name="house" id="house">
    <option selected disabled value="">Choose student house</option>

    <% for house in @houses %>
      <option value="<%= house %>"><%= house %></option>
    <% end  %>

  </select>

  <label for="age">Age:</label>
  <input type="number" min="11" id="age" name="age">


  <input type="submit" value="Enroll Student">

</form>
